*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  /* font-weight: 400; */
  /* font-size: 16px; */
  /* line-height: 1.7; */
  /* color: lightgray; */
  padding: 3rem;
}
.hr1 {
  position: relative;
  border: none;
  border-top: 3px dashed #67a1ff;
  color: #fff;
  background-color: transparent;
  width: 30%;
  left: 90%;
  top: 20%;
}
.hr2 {
  border: none;
  border-top: 3px dashed #67a1ff;
  color: #fff;
  background-color: transparent;
  width: 6%;
  margin-top: 6rem;
  margin-left: -16rem;
  margin-right: -14rem;
  transform: rotate(90deg);
}
.hr3 {
  position: relative;
  border: none;
  border-top: 3px dashed #67a1ff;
  color: #fff;
  background-color: transparent;
  width: 35%;
  right: 62%;
  top: 18%;
}
.riskassesFromMain {
  width: 15%;
  margin-left: 2rem;
}
.ontooff-riskassesFromMain-head1 {
  margin-right: -4rem;
}
.ontooff-riskassesFromMain-head2 {
  margin-left: 4.4rem;
  margin-right: -4.4rem;
  margin-top: 9.5rem;
}
.ontooff-mdf-left {
  margin-left: -2rem;
}
.ontooff-mdf-right {
  margin-right: -2rem;
}
.ontooff-mds-right {
  margin-top: -2rem;
  margin-right: -9rem;
}
.ontooff-middle-third {
  margin-top: 3.5rem;
}
.ontooff-mdt-left {
  margin-left: -2.5rem;
}
.ontooff-mdt-right {
  margin-right: -2.5rem;
}
.ontooff-subsea {
  margin-top: 3.5rem;
}
.subsea-ontooff-head1 {
  margin-top: 4rem;
  margin-left: 6rem;
}
.subsea-ontooff-head2 {
  margin-top: 4rem;
  margin-right: 13rem;
}
.ontooff-riskassesTo {
  margin-right: 3rem;
}
.ontooff-riskassesToInner-p1 {
  margin-left: -15px;
}
.ontooff-riskassesFromMain-head3 {
  margin-left: -3.2rem;
}
.ontooff-riskassesFromMain-head4 {
  margin-left: -5rem;
  margin-top: 5.5rem;
}
.ontooff-riskassesFromMain-head5 {
  margin-left: -6.7rem;
  margin-top: 4.5rem;
}
.corrosion-risk-main {
  /* position: relative; */
  border: 0.25rem solid black;
  padding: 0 0 1.25rem 0;
  position: relative;
  width: 60%;
  left: 20%;
}

.corrosion-risk-main h1 {
  text-align: center;
  /*font-size: 2rem;*/
  margin-bottom: 2.5rem;
  background-color: black;
  color: white;
  font-size: 1.5rem !important;
}

.risk-assesment-diagram {
  display: flex;
  justify-content: center;
}

.risk-assesment-diagram h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.riskassesFrom {
  display: inline-block;
  background-color: black;
  padding: 0.2rem;
  height: 4rem;
  width: 9.25rem;
  -webkit-clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
  clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
  /* padding: 5px 0 5px 10px; */
}

.riskassesFromInner {
  padding: 0.6rem 1rem 0.4rem 1.5rem;
  background: gray;
  width: 8.75rem;
  height: 3.7rem;
  -webkit-clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
  clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
}

.riskassesFromInner p {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}

.riskassesTo {
  display: inline-block;
  background-color: black;
  padding: 0.2rem;
  height: 4rem;
  width: 9.25rem;
  /* margin-left: 200px; */
  -webkit-clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
  clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
  /* padding: 5px 0 5px 10px; */
}

.riskassesToInner {
  padding: 0.6rem 0.5rem 0.4rem 4rem;
  background: gray;
  width: 8.75rem;
  height: 3.7rem;
  -webkit-clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
  clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
}

.riskassesToInner p {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}

.fromHorizontal {
  width: 3.75rem;
  height: 0.25rem;
  background-color: black;
  margin-top: 2.8rem;
  margin-left: -3.1rem;
}

/* .fromTilt {
border-top: 4px solid black;
margin-left: -150px;
margin-top: 200px;
transform: rotate(79deg);
} */

.fromTilt {
  border-left: 0.25rem solid black;
  display: block;
  height: 26.6rem;
  width: 1px;
  transform: rotate(-14deg);
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.toHorizontal {
  width: 3.75rem;
  height: 0.25rem;
  background-color: black;
  margin-top: 2.8rem;
  /* margin-left: 200px; */
}

.bottomHorizontal {
  width: 67.5rem;
  height: 0.25rem;
  background-color: black;
  margin-top: 28.5rem;
  margin-left: -72.5rem;
  margin-right: -6rem;
}

.toTilt {
  border-left: 0.25rem solid black;
  display: block;
  height: 26.6rem;
  width: 1px;
  transform: rotate(15deg);
  margin-top: 2.5rem;
  margin-right: 3.25rem;
  /* margin-left: 150px; */
}

/* .toTilt {
border-top: 4px solid black;
margin-right: -469px;
margin-top: 372px;
transform: rotate(-79deg);
} */
.mt {
  margin-top: 3rem;
}

.mt3 {
  margin-top: 2.5rem;
}

.mt2 {
  margin-top: 6.2rem;
}

.middle-main {
  width: 55%;
  position: relative;
  /* border-bottom: 3px solid black;
margin-bottom: 10px; */
  /* border-image: linear-gradient(to top, #000 50%, rgba(0, 0, 0, 0) 50%);
border-image-slice: 1; */
}

.middle-main::after {
  content: '';
  width: 85.2%;
  height: 0.2rem;
  background: black;
  position: absolute;
  bottom: 0.28rem;
  /* top: 80%; */
  left: 7.1%;
}

.middle-first {
  display: flex;
  justify-content: space-around;
}

.middle-second {
  display: flex;
  justify-content: space-around;
}

.middle-third {
  display: flex;
  justify-content: space-around;
}

.mdf-left,
.mdf-right,
.mds-left,
.mds-right,
.mdt-left,
.mdt-right {
  display: flex;
}

.border {
  border: 0.2rem solid black;
  padding: 0.1rem;
  font-size: 1rem !important;
  font-weight: bold;
  height: 3.2rem;
}

.mdf-middle {
  margin-top: -6.5rem;
}

.mdf-middletitle {
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: underline;
  margin-bottom: 0.26rem;
}

.mdf-midveryhigh,
.mdf-midhigh,
.mdf-midmedium,
.mdf-midlow {
  display: flex;
}

.mdf-veryhigh {
  border: 2px solid black;
  height: 2.5rem;
  width: 5rem;
  background-color: red;
  display: inline-block;
  margin-right: 0.26rem;
  /* margin-bottom: -6px; */
}

.mdf-high {
  border: 2px solid black;
  height: 2.5rem;
  width: 5rem;
  background-color: orange;
  display: inline-block;
  margin-right: 0.26rem;
  /* margin-bottom: -6px; */
}

.mdf-medium {
  border: 2px solid black;
  height: 2.5rem;
  width: 5rem;
  background-color: yellow;
  display: inline-block;
  margin-right: 0.26rem;
  /* margin-bottom: -6px; */
}

.mdf-low {
  border: 2px solid black;
  height: 2.5rem;
  width: 5rem;
  background-color: lime;
  display: inline-block;
  margin-right: 0.26rem;
}

.riskpara {
  font-size: 1.25rem;
  margin-top: -0.3rem;
}

.subsea {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.subsea-bottom {
  display: flex;
  justify-content: center;
  margin-left: -0.94rem;
}
.subsea-bottom-left {
  display: flex;
  justify-content: center;
  margin-left: -23rem;
}
.subsea-bottom-right {
  display: flex;
  justify-content: center;
  margin-right: -21rem;
  margin-top: -3.2rem;
}

@media only screen and (max-width: 3600px) {
  html {
    font-size: 40%;
  }

  .middle-main::after {
    width: 90%;
    left: 5.3%;
  }
}

@media only screen and (max-width: 3000px) {
  html {
    font-size: 50%;
  }

  .middle-main::after {
    width: 91.4%;
    left: 4.1%;
  }
  .fromHorizontal {
    width: 4rem;
    margin-left: -3.3rem;
  }
}

@media only screen and (max-width: 2600px) {
  html {
    font-size: 50%;
  }

  .middle-main::after {
    width: 90%;
    left: 5%;
  }

  .fromHorizontal {
    width: 4rem;
    margin-left: -3.8rem;
  }
}
@media only screen and (max-width: 2200px) {
  html {
    font-size: 50%;
  }
  .middle-main::after {
    width: 88%;
    left: 5.8%;
  }
  .fromHorizontal {
    margin-left: -4.1rem;
  }
}

@media only screen and (max-width: 1900px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 40%;
  }

  .risk-assesment-diagram h2 {
    font-size: 1.5rem;
  }

  .middle-main::after {
    width: 87%;
    left: 6.2%;
  }
  .fromHorizontal {
    width: 6rem;
    margin-left: -5.8rem;
  }
  .subsea {
    margin-top: 0.5rem;
  }

  /*.middle-main::after {
      width: 91%;
      left: 4.2%;
  }*/
}

@media only screen and (max-width: 1396px) {
  html {
    font-size: 38%;
  }
}

@media only screen and (max-width: 1237px) {
  html {
    font-size: 36%;
  }
  .mdf-midveryhigh,
  .mdf-midhigh,
  .mdf-midmedium,
  .mdf-midlow {
    margin-bottom: -1rem;
  }
  .mdf-middle {
    margin-top: -8.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  /* .middle-main::after {
      width: 89.2%;
      left: 5%;
  }*/
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 30%;
  }
}
