*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  /* font-weight: 400; */
  font-size: 16px;
  /* line-height: 1.7; */
  /* color: lightgray; */
  padding: 3rem;
}

.corrosion-risk-main {
  border: 4px solid black;
  padding: 0 0 20px 0;
}

.corrosion-risk-main h1 {
  text-align: center;
  margin-bottom: 40px;
  background-color: black;
  color: white;
}

.risk-assesment-diagram {
  display: flex;
  justify-content: center;
}

.riskassesFrom {
  display: inline-block;
  background-color: black;
  padding: 3px;
  height: 64px;
  width: 148px;
  -webkit-clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
  clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
  /* padding: 5px 0 5px 10px; */
}
.riskassesFromInner {
  padding: 0.6rem 1rem 0.4rem 1.5rem;
  background: gray;
  width: 140px;
  height: 58px;
  -webkit-clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
  clip-path: polygon(0 0, 55% 0, 100% 48%, 100% 99%, 0 99%);
}

.riskassesFromInner p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.riskassesTo {
  display: inline-block;
  background-color: black;
  padding: 3px;
  height: 64px;
  width: 148px;
  /* margin-left: 200px; */
  -webkit-clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
  clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
  /* padding: 5px 0 5px 10px; */
}
.riskassesToInner {
  padding: 0.6rem 0.5rem 0.4rem 4rem;
  background: gray;
  width: 140px;
  height: 58px;
  -webkit-clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
  clip-path: polygon(0 48%, 45% 0, 100% 3%, 100% 99%, 0 99%);
}

.riskassesToInner p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.fromHorizontal {
  width: 60px;
  height: 4px;
  background-color: black;
  margin-top: 45px;
  margin-left: -50px;
}

/* .fromTilt {
  border-top: 4px solid black;
  margin-left: -150px;
  margin-top: 200px;
  transform: rotate(79deg);
} */

.fromTilt {
  border-left: 4px solid black;
  display: block;
  height: 423px;
  width: 1px;
  transform: rotate(-15deg);
  margin-top: 40px;
  margin-left: 52px;
}
.toHorizontal {
  width: 60px;
  height: 4px;
  background-color: black;
  margin-top: 45px;
  /* margin-left: 200px; */
}
.bottomHorizontal {
  width: 1080px;
  height: 4px;
  background-color: black;
  margin-top: 456px;
  margin-left: -1159px;
  margin-right: -96px;
}

.toTilt {
  border-left: 4px solid black;
  display: block;
  height: 427px;
  width: 1px;
  transform: rotate(15deg);
  margin-top: 40px;
  margin-right: 52px;
  margin-left: 150px;
}

/* .toTilt {
  border-top: 4px solid black;
  margin-right: -469px;
  margin-top: 372px;
  transform: rotate(-79deg);
} */
.mt {
  margin-top: 50px;
}
.mt2 {
  margin-top: 90px;
}
.middle-main {
  width: 55%;
}
.middle-first {
  display: flex;
  justify-content: space-around;
}
.middle-second {
  display: flex;
  justify-content: space-around;
}
.middle-third {
  display: flex;
  justify-content: space-around;
}
.mdf-left,
.mdf-right,
.mds-left,
.mds-right,
.mdt-left,
.mdt-right {
  display: flex;
}
.border {
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}
.mdf-middle {
  margin-top: -120px;
}
.mdf-middletitle {
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.mdf-midveryhigh,
.mdf-midhigh,
.mdf-midmedium,
.mdf-midlow {
  display: flex;
}
.mdf-veryhigh {
  border: 2px solid black;
  height: 40px;
  width: 80px;
  background-color: red;
  display: inline-block;
  margin-right: 5px;
  /* margin-bottom: -6px; */
}
.mdf-high {
  border: 2px solid black;
  height: 40px;
  width: 80px;
  background-color: orange;
  display: inline-block;
  margin-right: 5px;
  /* margin-bottom: -6px; */
}
.mdf-medium {
  border: 2px solid black;
  height: 40px;
  width: 80px;
  background-color: yellow;
  display: inline-block;
  margin-right: 5px;
  /* margin-bottom: -6px; */
}
.mdf-low {
  border: 2px solid black;
  height: 40px;
  width: 80px;
  background-color: green;
  display: inline-block;
  margin-right: 5px;
}
.riskpara {
  font-size: 20px;
  margin-top: 10px;
}
.subsea {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
  font-weight: bold;
  font-size: 25px;
}
.subsea-bottom {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
